<ion-content class="background">
    <h3>Connecte toi !!!</h3>
    <ion-card>

        <ion-card-content>


            <form (ngSubmit)="signIn()" [formGroup]="loginForm" role="form">
                <ion-list no-line>
                    <ion-item>
                        <ion-label floating>E-mail</ion-label>
                        <ion-input type="email" required value="" formControlName="mail"> </ion-input>
                    </ion-item>

                    <div no-lines *ngIf="loginForm.get('mail').dirty
                     || loginForm.get('mail').hasError('required')
                     || loginForm.get('mail').hasError('email')
                      && loginForm.get('mail').touched">

                        <p class="error" *ngIf="loginForm.get('mail').hasError('required') && loginForm.get('mail').touched">
                            email est requis
                        </p>
                        <p class="error" *ngIf="loginForm.get('mail').hasError('email') && loginForm.get('mail').touched">
                            Veuillez entrer un email valide ex:loginForm@homey.fr
                        </p>
                    </div>



                    <ion-item>
                        <ion-label floating>Mot de passe</ion-label>
                        <ion-input type="password" required value="" formControlName="pass"> </ion-input>

                    </ion-item>

                    <div no-lines *ngIf=" loginForm.get('pass').hasError('required')
                    || loginForm.get('pass').hasError('minlength')
                    || loginForm.get('pass').hasError('maxlength')
                    && loginForm.get('pass').touched">



                        <p class="error" *ngIf="loginForm.get('pass').hasError('required') && loginForm.get('mail').touched">
                            Mot de passe requis
                        </p>
                        <p class="error" *ngIf="loginForm.get('pass').hasError('minlength') && loginForm.get('mail').touched">
                            Veuillez entrer votre mot de passe au moin que 8 caractères
                        </p>

                        <p class="error" *ngIf="loginForm.get('pass').hasError('maxlength') && loginForm.get('mail').touched">
                            Veuillez entrer votre mot de passe valide moin que 12 caractères
                        </p>


                    </div>







                </ion-list>





                <button ion-button full color=primary [disabled]="!loginForm.valid" role="button" type="submit">Entrer</button>


            </form>
            <button ion-button full color=primary (click)="goToHome()">Vous étes professionnel</button>
            <button ion-button color=primary outline full (click)="recupererPass()"><p>Oubliez votre login détail?</p></button>
        </ion-card-content>
    </ion-card>
    <button class="bottom" ion-button full color=primary (click)="verSignUpPage()" color="light"><p>Vous n'avez pas un compte? Créez-le</p></button>
</ion-content>